.add-list {
  width: 320px;
  padding-top: 26px;
  padding-left: 50px;
  padding-bottom: 42px;
  color: @grey;
  background-color: @white;
  text-align: left;
}

.add-list__title {
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.add-list__description {
  max-width: 215px;
}
