.centre {
  /*fix
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  */

  /*rubber*/
  width: auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  /*fix
   .centre {
    width: 648px;
    padding: 0;
   }
  */
  /*rubber*/
  .centre {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .centre {
    margin: 0 auto;
    width: 960px;
  }
}
