.centre {
  width: 280px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .centre {
    width: 648px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .centre {
    width: 960px;
  }
}
