.developer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
}

/* Оставим на 7 задание
.developer__logo path {
  fill: @black;
}

.developer__logo:hover path {
  fill: @blue;
}

.developer__logo:active path {
  fill: #b2b2b2;
}
*/
