.developer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
}

.developer__link {
  color: @black;
}

.developer__link:hover {
  color: @blue;
}

.developer__link:active {
  color: #b2b2b2;
}
