.features {
  background-color: @white;
}

.features__list {
  .reset-list();
  background-color: #eeeeee;
}

.features__wrapper {
  /*fix*/
  padding: 60px 37px 42px 37px;
}

.features__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-align: center;
}

.features__number {
  text-align: center;
}

.features__description {
  margin: 0;
  text-align: center;
}

.features__item {
  &--blue-background {
    color: @white;
    background-color: @blue;

    .features__wrapper {
      /*fix*/
      padding-left: 28px;
      padding-right: 28px;
    }

    .features__title {
      color: @white;
    }
  }
  .features__image {
    /*rubber*/
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*fix
    width: @tablet-width;
    */
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    &--blue-background {
      display: flex;
      flex-wrap: wrap;
    }
      .features__wrapper {
        padding-left: 42px;
        padding-right: 42px;
      }

    &--blue-background:nth-child(2) .features__image {
      order: 1;
    }

    &--blue-background:nth-child(2) .features__wrapper {
      order: 2;
    }
    /*fix
    width: 256px;
    */

    /*rubber*/
    width: 33%;
  }

  .features__wrapper {
    padding: 47px;
    /*fix
    width: 256px;
    */
    /*rubber*/
  }

  .features__item:nth-child(1),
  .features__item:nth-child(2) {
    /*fix
    width: @tablet-width;
    */
    /*rubber*/
    width: 100%;
    .features__wrapper {
      width: 33%;
    }
  }

  .features__title {
    margin: 0 auto;
    max-width: 160px;
  }

  .features__description {
    text-align: center;
  }

  .features__image {
    /*fix
    width: 512px;
    */
    /*rubber*/
    width: 67%;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: @desktop-width;
  }

  .features__list {
    width: @desktop-width;
  }

  .features__item {
    width: 400px;
  }

  .features__wrapper {
    padding: 53px 67px;
    width: 400px;
  }

  .features__item:nth-child(1),
  .features__item:nth-child(2) {
    width: @desktop-width;
  }

  .features__image {
    /*fix
    width: 800px;
    */
  }
}
