.form__title {
  .font-18-26-700();
}

.form__list {
  .reset-list();
}

.form__list.rating-list {
  padding-bottom: 44px;
}

.form__list.sights-list {
  padding-bottom: 44px;
}

.form__comment {
  margin-bottom: 51px;
}

.form__button {
  margin-left: 20px;
  padding: 16px 48px;
  width: 280px;
}

.form__note {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    /*fix
    width: 648px;
    */
  }

  .form__wrapper {
    order: 7;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 97px;
    width: 648px;
  }

  .form__button {
    order: 6;
    margin: 0;
    width: 324px;
  }

  .form__note {
    display: block;
    order: 8;
    width: 197px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: @grey;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 960px;
  }

  .form__list.rating-list {
    margin-right: 160px;
  }

  .form__wrapper {
    width: 960px;
  }

  .form__button {
    width: 480px;
  }

  .form__note {
    display: block;
    width: 280px;
  }
}
