.fullname {
  .reset-list();
  padding-top: 20px;
  padding-bottom: 25px;
}

.fullname__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  text-align: center;
  .font-18-26-700();
}

.fullname__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.fullname__label {
  flex-grow: 1;
  margin-right: 15px;
  max-width: 70px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @grey;
}

.fullname__input {
  flex-grow: 2;
  padding: 16px 20px;
  min-width: 0;
  background-color: #f2f2f2;
  border: 0;
}

.fullname__input:hover {
  background-color: #e5e5e5;
}

.fullname__input:focus {
  outline: 0;
  background-color: @white;
  box-shadow: 0 0 0 4px #e5e5e5;
}

.fullname__input::placeholder {
  .font-18-26-700();
  color: @black;
}

// TODO : Этому блоку можно добавить border-top и border-bottom чтобы получились черточки между блоками, как в макете

@media (min-width: @tablet-width) {
  .fullname {
    order: 2;
    /*fix
    width: 324px;
    */

    /*rubber*/
    width: 50%;
    padding: 0;
    padding-left: 55px;
    box-sizing: border-box;
  }

  .fullname__wrapper {
    /*fix
    width: 267px;
    */
  }

  .fullname__title {
      margin-bottom: 58px;
      text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .fullname {
    padding: 0;
    width: 400px;
  }

  .fullname__wrapper {
    width: 400px;
  }

  .fullname__label--desktop {
    max-width: 36px;
  }
}
