.page-header {
  position: relative;
  /*fix
  width: 320px;
  margin: 0 auto;
  */
  /*"Rubber"*/
  margin: auto;
  background-color: @white;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
  width: 102px;
  height: 83px;
  z-index: 2;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

.page-header__burger {
  text-align: right;
  padding: 17px 20px 17px 0px;
}

@media (min-width: @tablet-width) {
  /*fix
  .page-header {
    width: @tablet-width;
  }
  */
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }

  .page-header__burger {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    max-width: @desktop-width;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -89px;
    width: 188px;
    height: 96px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
