.page-main {
  width: 320px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @grey;
  background-color: @white;
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.page-main__text {
  line-height: 26px;
}
