.page-footer {
  width: 320px;
  background-color: @white;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__hashtag {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  margin-bottom: 38px;
}

.page-footer__social {
  margin-bottom: 40px;
}
