.page-photo {
  /*fix
   width: 320px;
   margin: 0 auto;
   */
  /*rubber*/
  width: auto;
  font-size: 14px;
  line-height: 24px;
  color: @grey;
  background-color: @white;
}

.page-photo__bg {
  padding-top: 52px;
  padding-bottom: 67px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
  text-align: center;
}

.page-photo__wrapper {
  padding: 42px 25px 28px 25px;
}

.page-photo__title {
  text-align: center;
  .font-18-26-700();
  color: @black;
}

.page-photo__text {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-photo {
    /*fix
    width: @tablet-width;
    */
  }

  .page-photo__bg {
    padding-top: 95px;
    padding-bottom: 118px;
    background-position: 100% 100%;
  }

  .page-photo__wrapper {
    padding: 71px 162px;
  }

  .page-photo__title {
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-photo {
    width: @desktop-width;
  }

  .page-photo__bg {
    padding-top: 104px;
    padding-bottom: 122px;
    background-size: cover;
  }

  .page-photo__wrapper {
    padding: 71px 377px;
  }
}
