.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: @white;
}

.page-header .centre {
  margin: 0;
}

.page-header__logo {
  position: absolute;
  top: 257px;
  left: 111px;
  width: 102px;
  height: 83px;
  z-index: 2;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

.page-header__burger {
  margin-left: 277px;
  padding: 17px 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 333px;
  }

  .page-header__burger {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 505px;
    width: 188px;
    height: 96px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
