.page-photo {
  margin: 0 auto;
  width: 320px;
  font-size: 14px;
  line-height: 24px;
  color: @grey;
  background-color: @white;
}

.page-photo__bg {
  padding: 52px 45px 67px 45px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

.page-photo__title {
  text-align: center;
  .font-18-26-700();
  color: @black;
}

.page-photo__text {
  margin: 0 auto;
  max-width: 270px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-photo {
    width: @tablet-width;
  }

  .page-photo__bg {
    padding: 95px 156px 118px 156px;
    margin: 0 auto;
    background-position: 100% 100%;
  }

  .page-photo__wrapper {
    padding: 71px 110px;
  }

  .page-photo__title {
    margin-bottom: 30px;
  }

  .page-photo__text {
    max-width: 435px;
  }
}

@media (min-width: @desktop-width) {
  .page-photo {
    width: @desktop-width;
  }

  .page-photo__bg {
    padding: 104px 370px 122px 370px;
    margin-bottom: 115px;
    background-size: cover;
  }
}
