.page-form {
  width: 320px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  background-color: @white;
}

.page-form__bg {
  width: 320px;
  height: 130px;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

.page-form__title {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.page-form__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
