.page-main {
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @grey;
  background-color: @white;
}

.page-main__bg {
  padding: 90px 20px 85px 20px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.page-main__title {
  .font-18-26-700();
  color: @black;
  text-align: center;
}

.page-main__text {
  line-height: 26px;
  text-align: center;
}

.page-main__map {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: @tablet-width;
  }

  .page-main__bg {
    padding: 77px 153px 91px 153px;
    background-size: cover;
  }

  .page-main__wrapper {
    padding: 58px 78px;
    width: @tablet-width;
  }

  .page-main__title {
    width: 442px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .page-main__map {
    margin-bottom: 36px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: @desktop-width;
  }

  .page-main__wrapper {
    padding: 52px 234px;
    width: @desktop-width;
  }

  .page-main__bg {
    padding: 77px 250px 91px 250px;
    background-size: cover;
  }
}
