.photo-gallery {
  width: 320px;
}

.photo-gallery__list {
  .reset-list();
}

.photo-gallery__description {
  margin-top: 17px;
  margin-bottom: 2px;
  font-weight: 700;
  color: @black;
}

.photo-gallery__author {
  margin: 0;
  margin-bottom: 6px;
  text-transform: none;
}

.photo-gallery__like {
  margin-bottom: 21px;
}

.photo-gallery__video-presentation {
  margin-bottom: 78px;
}
