.sights-list {
  .reset-list();
  padding-top: 20px;
  .font-18-26-700();
  color: @black;
  background-color: @white;
}

.sights-list__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  text-align: center;
  .font-18-26-700();
}

.sights-list__item {
  margin-bottom: 48px;
}

.sights-list__item:last-child {
  margin-bottom: 0;
}

.sights-list__checkbox {
  position: relative;
  padding-top: 15px;
  padding-left: 78px;
  cursor: pointer;
  text-transform: none;
}

.sights-list__input + .checkbox__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
}

.sights-list__input:hover + .checkbox__indicator {
  background-color: #e5e5e5;
}

.sights-list__input:active + .checkbox__indicator {
  background-color: #d5d5d5;
}

.sights-list__input:active + .checkbox__indicator::before {
  opacity: 0.3;
}

.sights-list__input:focus + .checkbox__indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.sights-list__input:checked + .checkbox__indicator::before {
  content: url("../img/icon-tick.svg");
  position: absolute;
  top: 16px;
  left: 17px;
}


// TODO : Этому блоку можно добавить border-top и border-bottom чтобы получились черточки между блоками, как в макете

@media (min-width: @tablet-width) {
  .sights-list {
    order: 4;
    padding: 0;
    margin-bottom: 71px;
  }

  .sights-list__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .sights-list__item {
    /*fix
    width: 324px;
    */

    /*rubber*/
    width: 50%;
    margin-bottom: 65px;
  }

  .sights-list__item input {
    margin-right: 24px;
  }

  .sights-list__item:nth-child(4n-3) {
    padding-left: 93px;
  }

  .sights-list__item:nth-child(4n-2) {
    padding-left: 29px;
  }

  .sights-list__item:nth-child(4n-1) {
    padding-left: 93px;
  }

  .sights-list__item:nth-child(4n) {
    padding-left: 29px;
  }

  .sights-list__title {
    padding: 0 185px;
    margin-bottom: 43px;
  }
}

@media (min-width: @desktop-width) {
  .sights-list {
    margin-bottom: 68px;
  }

  .sights-list__item {
    width: 240px;
  }

  .sights-list__item:nth-child(4n-3) {
    padding-left: 0;
  }

  .sights-list__item:nth-child(4n-2) {
    padding-left: 0;
  }

  .sights-list__item:nth-child(4n-1) {
    padding-left: 0;
  }

  .sights-list__item:nth-child(4n) {
    padding-left: 0;
  }

  .sights-list__title {
    padding: 0 340px;
  }
}
