.site-list {
  width: 320px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @blue;
}

.site-list a {
  color: #ffffff;
}
