.user-form {
  margin: 0 auto;
  width: 320px;
  margin-bottom: 75px;
}

@media (min-width: @tablet-width) {
  .user-form {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    width: 960px;
    margin-bottom: 0;
  }
}
