@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/page-main.less";
@import "blocks/features";
@import "blocks/add-list";
@import "blocks/hotels";
@import "blocks/map";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/developer";
@import "blocks/page-photo";
@import "blocks/photo-gallery";
@import "blocks/video-presentation";
@import "blocks/page-form";
@import "blocks/user-form";
@import "blocks/rating-list";
@import "blocks/sights-list";
@import "blocks/comment";
